<h1>User#welcome</h1>

<p>
  <%= @greeting %> <%= @user.email%>, <br>
  bienvenue sur Piquette, la toute première application qui gère tes bouteilles de vin. <br>
  On a plein de conseil pour tes choix de vin et on te donne le meilleur moment pour boire tes bouteilles.
</p>
