.landing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.landing-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.landing-container h6{
  font-family: $body-font;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.landing-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.landing-img {
  height: 200px;
  margin-bottom: 60px;
}

.landing-logo a{
  text-decoration: none;
  // color: white;
}



// .white-background {
//   background-color: white;
// }

// .tracking-in-expand {
//   animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
// }

// .color-change-2x {
//   animation: color-change-2x 2s linear infinite alternate both;
// }


/* ---------------------------------------------- */

// @keyframes tracking-in-expand {
//   0% {
//     letter-spacing: -0.9em;
//     opacity: 0;
//   }
//   40% {
//     opacity: 0.6;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes color-change-2x {
//   0% {
//     background: $black;
//   }
//   100% {
//     background: #94969A;
//   }
// }
