.landing-background {
  width: 100%;
  height: 667px;
  display: flex;
  justify-content: center;
  // background-image: url('wine-background-2');
  // background-repeat: no-repeat;
  // background-position: center;

}

.landing-logo {
  font-family: 'Playfair Display';
  font-size: 60px;
  color: white;
  text-align: center;
  margin: auto;
  text-shadow: 0px 0px 19px #000000;
  // letter-spacing: 0.1em;
  // text-shadow: 2px 2px #ff0000;
}

.landing-logo a{
  text-decoration: none;
  color: white;
}

.white-background {
  background-color: white;
}

.tracking-in-expand {
  animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.color-change-2x {
  animation: color-change-2x 2s linear infinite alternate both;
}


/* ---------------------------------------------- */

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.9em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color-change-2x {
  0% {
    background: $dark-gray;
  }
  100% {
    background: #94969A;
  }
}
