
<div class="title-header-container">
  <div class="title-header">
    <h1>Suggestions</h1>
  </div>
</div>
<div class="form-wrapper">

<!--   <div class="form-container highlight">
    <p>Que cherchez-vous?</p>
    <button class="form-btn" id="search" >Consommer une bouteille de ma cave</button>
    <button class="form-btn" id="buy">Acquérir de nouvelles bouteilles</button>
  </div> -->

  <form action="" method="get" class='buy'>

    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container highlight">
      <h4>Que recherchez-vous?</h4>

      <input type="radio" name="color" value="Rouge" id="color_red">
      <label for="color_red">Rouge</label>
      <input type="radio" name="color" value="Blanc" id="color_white">
      <label for="color_white">Blanc</label>
      <input type="radio" name="color" value="Rose" id="color_rose">
      <label for="color_rose">Rosé</label>
      <input type="radio" name="color" value="petillant" id="color_sparkling">
      <label for="color_sparkling">Effervescent</label>
      <input type="radio" name="color" value="all" id="color_all">
      <label for="color_all">Toutes</label>
    </div>

    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <h4>Pour quelle occasion?</h4>
      <input type="radio" name="pairing" value="apéritif" id="pairing_apero">
      <label for="pairing_apero">Apéritif</label>
      <input type="radio" name="pairing" value="viande rouge" id="pairing_viandes-rouges">
      <label for="pairing_viandes-rouges">Viande rouge</label>
      <input type="radio" name="pairing" value="viande blanche" id="pairing_viandes-blanches">
      <label for="pairing_viandes-blanches">Viande blanche</label>
      <input type="radio" name="pairing" value="poisson" id="pairing_poissons">
      <label for="pairing_poissons">Poisson</label>
      <input type="radio" name="pairing" value="fromage" id="pairing_fromages">
      <label for="pairing_fromages">Fromage</label>
      <input type="radio" name="pairing" value="dessert" id="pairing_dessert">
      <label for="pairing_dessert">Dessert</label>
    </div>

    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <h4>Bio?</h4>
      <input type="radio" name="bio" value="true" id="bio_true">
      <label for="bio_true">Oui</label>
      <input type="radio" name="bio" value="false" id="bio_false">
      <label for="bio_false">Non</label>
      <input type="radio" name="bio" value="all" id="bio_all">
      <label for="bio_all">Les 2</label>
    </div>

    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <h4>A quoi ce vin est-il destiné?</h4>
      <input type="radio" name="garder" value="true" id="garder_true">
      <label for="garder_true">Etre gardé</label>
      <input type="radio" name="garder" value="false" id="garder_false">
      <label for="garder_false">Etre prêt à boire</label>
      <input type="radio" name="garder" value="all" id="garder_all">
      <label for="garder_all">Peu importe</label>
    </div>

    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <h4>Prix max?</h4>
      <br>
      <%= range_field_tag 'price', nil,  min: 7, max: 59, step: 1 %>
      <br>
      <div id='target'>33</div>
     </div>


    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="submit" value="Search" class="form-btn">
    </div>
  </form>



</div>

