
<div class="title-header-container">
  <div class="title-header">
    <h1>Suggestions</h1>
  </div>
</div>

<div class="form-wrapper">

  <div class="search-form-item">
    <h1>Quelle couleur?</h1>
    <form action="" method="get" class='buy'>
      <div data-aos="fade-up"
       data-aos-duration="1000" class="form-container highlight">
        <input type="radio" name="color" value="Rouge" id="color_red">
        <label id="ans-one" for="color_red">Rouge</label>
        <input type="radio" name="color" value="Blanc" id="color_white">
        <label id="ans-one" for="color_white">Blanc</label>
        <input type="radio" name="color" value="Rose" id="color_rose">
        <label id="ans-one" for="color_rose">Rosé</label>
        <input type="radio" name="color" value="petillant" id="color_sparkling">
        <label id="ans-one" for="color_sparkling">Effervescent</label>
        <input type="radio" name="color" value="all" id="color_all">
        <label id="ans-one" for="color_all">Tout</label>
        <a id="two"></a>
      </div>
    </div>

  <div class="search-form-item">
    <h1>Pour quelle occasion?</h1>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="radio" name="pairing" value="apéritif" id="pairing_apero">
      <label id="ans-two" for="pairing_apero">Apéritif</label>
      <input type="radio" name="pairing" value="viande rouge" id="pairing_viandes-rouges">
      <label id="ans-two" for="pairing_viandes-rouges">Viande rouge</label>
      <input type="radio" name="pairing" value="viande blanche" id="pairing_viandes-blanches">
      <label id="ans-two" for="pairing_viandes-blanches">Viande blanche</label>
      <input type="radio" name="pairing" value="poisson" id="pairing_poissons">
      <label id="ans-two" for="pairing_poissons">Poisson</label>
      <input type="radio" name="pairing" value="fromage" id="pairing_fromages">
      <label id="ans-two" for="pairing_fromages">Fromage</label>
      <input type="radio" name="pairing" value="dessert" id="pairing_dessert">
      <label id="ans-two" for="pairing_dessert">Dessert</label>
    </div>
  </div>

    <div class="two"></div>

  <div class="search-form-item">
      <h1>Du vin bio?</h1>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="radio" name="bio" value="true" id="bio_true">
      <label id="ans-three" for="bio_true">Oui</label>
      <input type="radio" name="bio" value="false" id="bio_false">
      <label id="ans-three" for="bio_false">Non</label>
      <input type="radio" name="bio" value="all" id="bio_all">
      <label id="ans-three" for="bio_all">Les 2</label>
    </div>
  </div>

    <div class="three"></div>

  <div class="search-form-item">
    <h1> A garder ou à boire maintenant ?</h1>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="radio" name="garder" value="true" id="garder_true">
      <label id="ans-four" for="garder_true">A garder</label>
      <input type="radio" name="garder" value="false" id="garder_false">
      <label id="ans-four" for="garder_false">A boire</label>
      <input type="radio" name="garder" value="all" id="garder_all">
      <label id="ans-four" for="garder_all">Peu importe</label>
    </div>
  </div>

    <div class="four"></div>

  <div class="search-form-item">
    <h1>Prix maximum?</h1>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <br>
      <%= range_field_tag 'price', nil,  min: 7, max: 59, step: 1 %>
      <br>
      <div id='target'>33</div>
     </div>
  </div>

    <div class="five"></div>

    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="submit" value="Search" class="search-confirm-btn">
    </div>
  </form>
</div>

