p {
  font-size: 15px;
  color: $dark-gray;
}

h1 {
  color: white;
}

body {
  background-color: white;
}

span {
  font-size: 15px;
  color: $dark-gray;
  font-family: $body-font;
}

a:hover{
  text-decoration: none;
  color: white;
}

button, input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.title-header-container {
  display: flex;
  justify-content: flex-end;
  .title-header {
    width: 62vw;
    height: 100px;
    margin: 30px 10px 20px 0;
    text-align: right;
    h1 {
      font-size: 35px;
    }
  }
}

.new-review-container {
  margin-right: 10px;
  margin-left: 10px;
}

hr {
  color: $dark-gray;
}
