<div class='cellar-card'>
  <p>MA CAVE</p>
  <div class='home-cellar-picto'>
    <div class='home-picto-glass'>
      <i class="fas fa-wine-glass"></i>
    </div>
    <div class='home-picto-glass'>
      <i class="fas fa-wine-glass"></i>
    </div>
    <div class='home-picto-glass'>
      <i class="fas fa-wine-glass"></i>
    </div>
  </div>
</div>

<div class='wish-card'>
  <p>MA WISHLIST</p>

</div>

<div class='review-card'>
  <p>MES DEGUSTATIONS</p>
</div>
