<!-- <video autoplay muted loop src="Piquette.mp4" id="background-video"></video> -->


<div id="background-video">
  <%= video_tag "Piquette-landing.mp4", muted: true, autoplay: true, loop: true, class:'background-video' %>
</div>
