<!-- <div id="background-video"> -->
  <%#= video_tag "Piquette-landing.mp4", muted: true, autoplay: true, loop: true, class:'background-video' %>
<!-- </div> -->

  <div class='landing-background color-change-2x'>
    <div class="landing-logo">
      <% if current_user %>
        <%= link_to "piquette", home_path, class:'landing-logo tracking-in-expand' %>
      <% else %>
        <%= link_to "piquette", new_user_session_path, class:'landing-logo tracking-in-expand' %>
      <% end %>
      <%= image_tag('grape') %>
    </div>
  </div>
<!-- </div> -->

