<div class="landing-wrapper">
  <div class="landing-container">

  <h1>Piquette</h1>
  <h3>Vos cuites n'auront<br>plus le même goût !</h3>
  <%= image_tag('grape', class:'landing-img') %>

  <% if current_user %>
    <%= link_to home_path do %>
      <div class="bottle-modal-cta bloup btn-large">
        <div>C'est parti !</div>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="bottle-modal-cta bloup btn-large">
        <div>C'est parti !</div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
