#blur {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 0vh;
  width: 0vw;
  opacity: 0;
}

.blur-active {
  opacity: 0.8 !important;
  z-index: 10;
  height: 100vh !important;
  width: 100vw !important;
}

.body-fixe {
  overflow: hidden !important;
}
