#blur {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  // -webkit-filter: blur(8px);
  background: black;
  opacity: 0;
  display: none;
}

.blur-active {
  opacity: 0.8 !important;
  display: block;
}

.body-fixe {
  position: fixed;
}
