.bottle-modal {
  background-color: white;
}

.bottle-modal-dialog {
  margin: 10px;
}

.bottle-modal-content {
  margin: auto;
  top: 5vh;
  height: 90vh;
  width: 90%;
  border: none;
  padding: 10px;
  z-index: 10;
}

.bottle-modal-header {
  display: flex;
  justify-content: center;
}

.modal-dialog span {
  font-size: 40px;
}

.bottle-modal-dialog button {
  position: relative;
  top: 5vh;
  right: 9%;
  z-index: 20;
}
.bottle-modal-top {
  display: flex;
  justify-content: space-around;
}

.bottle-modal-photo {

  width: 25vw;
  display: flex;
  // justify-content: space-around;
  align-items: center;
}

.bottle-modal-primary-infos {
  width: 70vw;

}
.bottle-modal-advice {
  display: flex;
  justify-content: space-around;
}

.bottle-modal-desc {

}

.bottle_modal_wine_pairing {

}

.bottle_modal_review {
  border-top: 1px solid $black

}

.bottle-modal-cta {
  display: flex;
  justify-content: space-around;
}

.bottle-modal-add-to-cellar {

}
