.bottle-modal {
  background: rgba(30, 30, 30, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.piquette-modal-content {
  text-align: center;
  margin-top: 10px;
  p {
    margin-bottom: 2px;
  }
}

.piquette-modal-content-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h5 {
    font-size: 24px;
    font-family: $body-font;
  }
}

.piquette-modal-quantity {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.piquette-modal-content-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piquette-modal-title-quantity {
  display: flex;
  justify-content: center;
  p {
    margin-bottom: 0;
  }
}

#btn-plus {
  font-size: 24px;
  padding: 0 10px;
}

#btn-minus {
  font-size: 24px;
  padding: 0 10px;
}

.bottle-modal-content {
  background: white;
  border-radius: 7px;
  width: 90%;
  margin-bottom: calc(100vw * 0.05);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  margin: calc(100vw * 0.05);
  margin-top: 100px;
}

.modal-open .modal .bottle-modal {
  background-color: black !important;
}

.bottle-modal-dialog {
  margin: 10px;
  background-color: $red;
}

.modal-close {
  span {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-weight: lighter;
  font-size: 90px !important;
  }
  opacity: 1 !important;
}

.bottle-modal-cta {
  width: 90%;
  margin: 5vw;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: $headers-font;
  font-size: 24px;
  background: linear-gradient(108.27deg, #FFAF00 17.42%, #FFC850 88.86%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 15px 20px;
  a {
    color: white;
    &:focus, &:active, &:hover {
      color: $pink;
    }
  }
}

// .bottle-modal-content {
//   position: relative;
//   margin: auto;
//   top: 15vh;
//   height: 70vh;
//   width: 90%;
//   border: none;
//   padding: 10px;
//   z-index: 10;
//   background-color: $green;
// }

.bottle-modal-header {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.modal-dialog span {
  font-size: 40px;
}

.close {
  position: absolute;
  top: -5px;
  right: 4px;
  z-index: 20;
}
.bottle-modal-top {
  display: flex;
  justify-content: space-between;
}

.bottle-modal-photo {
//  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.bottle-modal-photo img {
  transform: scale(1);
  transition: 1s ease-in-out;
}

.bottle-modal-primary-infos p {
  justify-content: left;
  font-size: 19px;
  text-align: center;

}
.bottle-modal-advice {
  display: flex;
  justify-content: space-around;
}

.bottle-modal-review {
  border-top: 1px solid $black
}

.year-back h2 {
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 100px;
  opacity: 0.2;
  color: grey;
}

.year-back {
  position: absolute;
  bottom: -15px;
  right: 8px;
}

.display-photo button {
  text-align: center;
  align-items: center;
  background: none;
  font-weight: lighter;
  font-size: 20px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  height: 31.5px;
  width: 31.5px;
  color: grey;
}

.display-photo {
  align-items: center;
  text-align: center;
  transform: rotate(180deg);
  margin: auto 3px;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 65px;
  right: 5px;
}

.hidden-photo {
  transform: scale(0);
  transition: 0.5s;
  display: none;
}

.photo-rotate {
  transform: rotate(0deg);
  transition: 1s ease-in-out;
}

.large-title {
  width-min: 100%;
}

.modal-title {
  color: grey;
  display: block;
}

