.card_review_index {
  display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    margin-top: 12px;
    height: 85px;
    border-radius: 10px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.container{
  align:center;
}
