.container_user_bottle_index {
  margin-top: 10px;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.card_user_bottle_index {
  padding: 4px;
  height: 100%;
  width: 95vw;
  border-radius: 2px;
  display: flex;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 2fr 20px 40px;
  box-shadow: 0 0 3px lightgrey;
  p {
    font-size: 14px;
    margin: 0 10px;
  }
}

.image_card_user_bottle_index {
  width: 30%;
  background: grey;
}
.content_card_user_bottle_index {
  width: 70%;
}

.footer_card_user_bottle_index {
  display: flex;
  justify-content: space-between;
}
.title_card_user_bottle_index {
  justify-content: center;
}


.desc_card_user_bottle_index {
}

.year_card_user_bottle_index {
}

.keep_card_user_bottle_index {
}
// .Rouge {
//   border: 2px solid $red-wine;
// }

// .Rose {
//   border: 2px solid $rose-wine;
// }

// .white {
//   border: 2px solid $white-wine;
// }


