.disabled {
  display: none;
}

.form-wrapper {
  display: flex;
  width: 100%;
  padding: 3px;
  justify-content: center;
}

.form-container {
  padding: 20px 10px;
  margin-top: 60px;
  align-item: center;
  justify-content: center;
  text-align: center;
  background: white;
  opacity: 1;
  box-shadow: 0 0 5px lightgrey;
  width: 90%;
  margin: auto;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.highlight {
  opacity: 1;
}
.form-container h4 {
  font-weight: bold;
}

.form-container label {
  margin: auto;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  background: #5D1223;
  color: white;
  width: 80%;
  margin: 10px 0px;
  box-shadow: 0 0 5px lightgrey;
}

.form-btn {
  margin: auto;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  background: #5D1223;
  color: white;
  width: 80%;
  margin: 10px 0px;
  box-shadow: 0 0 5px lightgrey;
  font-weight: bold;
}


.form-container input[type=radio] {
  display:none;
}



.form-container input[type=radio]:checked+label {
  background: #ED3833;
}

.form-container textarea {
  padding: 10px 20px;
  font-size: 15px;
  justify-content: center;
  color: $dark-gray;
  width: 90%;
  margin: 10px 0px;
  border-radius: 8px;
  box-shadow: 0 0 10px lightgrey;
}

// another form :

.form-rating input[type=radio] {
  display:none;
}

.form-rating {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.form-rating label{
  font-size: 15px;
  background-color: white;
  color: $dark-gray;
}
