.bottle_wish_heart {
  position: absolute;
  top: -10px;
  right: -10px;
  // margin-top: -10px;
  // margin-right: -8px;
  .fas {
    // top: -5px;
    // right: -15px;
    font-size: 40px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $pink;
  }
  .fas.active {
    // top: -5px;
    // right: -15px;
    font-size: 40px;
    -webkit-text-fill-color: $pink;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    border: none;
  }
}



