.wrapper-navbar {
  position: fixed;
  top: 0px;
  height: 20px;
  width: 100vw;
  z-index: 100;
  overflow: visible;
}

/* Menu */
.navbar {
  position: absolute;
  top: -500px;
  right: 3%;
  height: 500px;
  width: 93%;
  background-color: grey;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: 1s ease-in-out;
}

.navbar.open {
 top: 0px;
 transition-duration: 1s;
}

.menu {
  padding: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-link {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
}

.menu-link a{
  color: white;
  font-family: 'helvetica', cursive;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 200%;
}

#log {
  font-weight: lighter;
  font-size: 10px;
}

/* Logo */
.logo {
  background-color: grey;
  height: 60px;
  width: 90px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 488px;
  h1 {
    color: white !important;
  }
}

.logo h1{
  font-family: 'Eczar';
  font-size: 30px;
}

