// .search-group {
//   display: flex;
//   justify-content: space-between;
// }

.search-bar {
  width: 100vw;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  transition: 1s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 1s;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 20px;
}

#search-btn {
  text-align: center;
}

.search-confirm-btn {
  width: 90%;
  box-sizing: none !important;
  margin: calc(100vw * 0.05);
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: $headers-font;
  font-size: 24px;
  background: linear-gradient(108.27deg, #FFAF00 17.42%, #FFC850 88.86%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-style: none !important;
  padding: 15px 20px;
  a {
    color: white;
  }
}

.search-btn {
  margin-left: 15px;
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  background-color: white;
  border: 1px solid transparent;
  transition: 1s ease-in-out;
}

#rouge-btn {
  background: linear-gradient(147.09deg, #CE003C 5.2%, #9C1952 91.33%);
  transition: 1s ease-in-out;
  border: 2px solid white;
}

#blanc-btn {
  background: linear-gradient(147.09deg, #F9F8EB 5.2%, #efcf6d 91.33%);
  transition: 1s ease-in-out;
  border: 2px solid white;
}

#rose-btn {
  background: linear-gradient(147.09deg, #ffe38e 5.2%, #e49292 5.21%, #dc5b66 91.33%);
  transition: 1s ease-in-out;
  opacity: 0.8;
  border: 2px solid white;
}

.search-btn.active {
  border: 4px solid white !important;
}

.hidden-search {
  opacity: 0;
  height: 0;
  width: 0%;
  transition-duration: 1s;
}

.price-range h3 {
  margin-top: -38px;
  margin-bottom: 41.5px;
}
